.admin__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}
.pagination {
    display: flex; /* 横並びにする */
    list-style: none; /* リストの丸印や番号を消す */
    padding: 0; /* 余白をリセット */
    margin: 0; /* 余白をリセット */
    gap: 8px; /* 項目同士の隙間 */
}

.pagination li {
    /* 必要ならここで個別のスタイルを指定 */
}

.admin-table {
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.admin-table__inner {
    width: 100%;
}

.admin-table__row {
    border-bottom: 1px solid #ddd;
}

.admin-table__header {
    padding: 12px;
    width: 20%;
    font-weight: bold;
}

.admin-table__item {
    padding: 12px;
    width: 20%;
}

.modal__content {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal__attendance-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
